<div class="jumbotron">
	<h1>What is AppTruth?</h1> 

</div>
<div class="jumbotron">
	
      <!-- Example row of columns -->
      <div class="row">
        <div class="span-one-third">
          <h2>We make apps!</h2>
          <p>Spawned by a team of students, we intend to ship software useful to both <a href="/users">users </a> and <a href="/enterprise">enterprise </a> on an agile scale</p>  
          <!--p><a class="btn" href="#">View details &raquo;</a></p-->
        </div>
        <div class="span-one-third">
          <h2>Affordable (or have this be a central canada thing)</h2>
           <p>Located centrally in Ottawa, Canada, we work with students from the best and the brightest Canadian Universities. We spark a fine balance between classic design patterns and newer methodologies. </p>
       </div>
        <div class="span-one-third">
          <h2>User-Driven</h2>
          <p>
Our software designs are not dogmatic towards a specific, traditional design pattern, but created upon the enlightenment of the problem/s at hand. This builds a generic, and more flexible frame to build off of, as well as a scalable solution that is both simple and easy to maintain. </p>
      	<p><a class="btn" href="/contact">View Contact details &raquo;</a></p>
        </div>
      </div> 

</div>
