<div class="jumbotron">
<div text-align:center >
	<h2> All forms will open up after the meeting on :  </h2>
        <li><p>Date: Monday 15th September 2014 at 5pm in the 4th floor of the Carleton Dicovery Room #481 </p></li>
        <li><p>Location: 4th Floor at Carleton Discovery Centre </p></li>
        <li><p>Description : Live Q&A about the projects</p></li>

    
    <h3> Contact information</h3>
    <p> email : luc785@hotmail.com </p>
    
</div>
<div class="btn-group">

  <button type="button" class="btn btn-default">
    <i class="glyphicon glyphicon-flash"></i>
  </button>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <i class="glyphicon glyphicon-plus-sign"></i> <span class="caret"></span>
    </button>
    <!--ul class="dropdown-menu" role="menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul-->
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/home">Go back to home</a></li>
      <li><a href="/about">Go to about </a></li>
      <li><a href="/role">See roles</a></li>
      <li class="divider"></li>
      <!--li><a href="#">Separated link</a></li-->
    </ul>
  </div>

</div>
</div>


