
<!-- <div ng-controller="QueryController">
<div id="text_content">
  <button class="rightmost" ng-click="direction()">
Discovery
  </button>
  <button class="middle" ng-click="discovery()">
Design
  </button>
  <button class="leftmost" ng-click="design()">
Direction
  </button>

        
          <h1>
          MAPPING MADE SIMPLE
          </h1>

          <p class="explanation_p" style="white-space: pre;"><br><br><br><br>
          {{info}}
          </p>

          <p> hello world</p>

          <body> -->

<div class="NavBar">
  <p class="about">
  <a href="#about">
  About
  </a>
  </p>
  <p class="contact">
  <a href="#contact">
  Contact
  </a>
  </p>
</div> 
<div ng-controller="QueryController">
    <div class="Container">
      <div class="Header">
          <p>The Header div height is not fixed (But he can be if you want it to)</p>
          <p>This Layout has been tested on: IE10, IE9, IE8, FireFox, Chrome, Safari, Opera. using Pure CSS 2.1 only</p>
      </div>
       
    <!-- Left Content -->
    <div class="MapAnimation"> 

    </div>
    <!-- Right Content -->
    <div class="RightContent">
          
      <div class="InfoPackage">

        <div class="leftValue">
          <div class="picture1"></div>
          <button class="middle" ng-click="direction()">Discovery
          </button>
          <!-- INSERT TEXT HERE -->
        </div>

        <div class="middleValue">
          <div class="picture2"></div>
          <button class="middle" ng-click="discovery()">Discovery</button>
          <!-- INSERT TEXT HERE -->
        </div>


        <div class="rightValue">
          <div class="picture3"></div>
           <button class="middle" ng-click="design()">Discovery </button>
          <!-- INsert TExt and button here  -->
          </div>
      </div>
      <div class="TextForPackage">
       <br> <h2>MAPPING MADE SIMPLE </h2><br>
        <p>{{info}}</p>
      </div>
<br><br><br><br><br><br><br><br>

<button class="middle">More Information</button> 

    </div>
  </div>


<!--div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 

  <div class="carousel-inner">
    <div class="item active">
      <img src="http://localhost:3000/views/images/campus_map.jpg" alt="...">
      <div class="carousel-caption">
 <h2><i> Find your Way</i></h2>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x315" alt="...">
      <div class="carousel-caption">
          <h3>Caption Text</h3>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x315" alt="...">
      <div class="carousel-caption">
          <h3>Caption Text</h3>
      </div>
    </div>
  </div>
 

  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> -->