<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<div class="jumbotron">
	<h1>News</h1> 
</div>

<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<div class="jumbotron">
	<h2>Applications are now OPEN!!</h2>
    <ul>
        <li><p>Time: 5-6pm </p></li>
        <li><p>Date: Monday 15th September 2014 </p></li>
        <li><p>Location: 4th Floor at Carleton Discovery Centre Room #481 </p></li>
        <li><p>Description : Live Q&A about the projects</p></li>


</div>

<!-- TODO Create a ng-repeat that autogenerates this, and create a flag variable to oscillate the sides that the picture and text content are on. -->

<div class="jumbotron">
    <div class="paragraphs">
        <div class="row">
           <div class="span4">
              <!--Image -->
              <a  href="http://www.carletonmap.com" target="_blank" >
                <img style="float:right" ng-src="http://www.apptruth.ca/views/images/{{ carletonmap }}" height=70% width=70%>
              </a>
               <!-- Text -->
               <div class="content-heading"><h3><a href="http://www.carletonmap.com"> SHIPPING CARLETON GPS! </a></h3></div>
                <p> <font size="4">Carleton leveraged our developers to create a custom GPS for the University day-to-day use. This is being released into production this week.</font></p>
            </div>
        </div>
    </div>
</div>



<div class="jumbotron">
    <div class="paragraphs">
        <div class="row">
           <div class="span4">
              <!--Image -->
                <img style="float:left" ng-src="http://www.apptruth.ca/views/images/{{ appgroup }}" height=70% width=70%>
               <!-- Text -->
               <div class="content-heading"><h3><a href="/contact"> Carleton collaboration </a></h3></div>
                <p> <font size="4">Our application development group worked alongside Carleton web development coordinators, as well as general student administration to iterate on a solid design.</font></p>
            </div>
        </div>
    </div>
</div>



