        <h2> Marketing Associate </h2>
        
        <form name="userForm" ng-submit="sendForm(userForm.$valid)" novalidate>
        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
            <label>Username</label>
            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
            <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
        </div>
        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email">
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
        <!-- Area of Expertise -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.expert.$invalid && !userForm.expert.$pristine }">
            <label>Do you have a specific domain of knowledge in Marketing</label>
            <input type="text" name="expert" class="form-control" ng-model="user.expert" >
            <p ng-show="userForm.expert.$invalid && !userForm.expert.$pristine" class="help-block">Please, tell us a bit more about what you like/do/have done in software</p>
        </div>
        <!-- Major  -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.major.$invalid && !userForm.major.$pristine }">
            <label>What is your University Major?</label>
			<input type="text" name="major" class="form-control" ng-model="user.major" >
            <p ng-show="userForm.major.$invalid && !userForm.major.$pristine" class="help-block">Below 25 characters</p>
        </div>
        <!-- Description -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.user_description.$invalid && !userForm.user_description.$pristine }">
            <label>Tell us a bit more about what you like/do/have done in software (Min: 25 characters. Internships, Personal Projects, OpenSource...).</label>
            <textarea rows="6" name="user_description" class="form-control" ng-model="user.description" ng-minlength="50"> </textarea>
            <p ng-show="userForm.user_description.$invalid && !userForm.user_description.$pristine" class="help-block">Below 25 characters</p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>


