        <h2> Program Manager </h2>
        <form name="userForm" ng-submit="sendForm(userForm.$valid)" novalidate>
        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
            <label>Username</label>
            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
            <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
        </div>
        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email">
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
        <!-- Communication skills -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.comm.$invalid && !userForm.comm.$pristine }">
            <label>How would you rate your verbal communication skills from 1-100? </label>
            <input type="text" name="comm" class="form-control" ng-model="user.comm" >
            <p ng-show="userForm.comm.$invalid && !userForm.comm.$pristine" class="help-block"></p>
        </div>
        <!-- Written Skills  -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.writt.$invalid && !userForm.writt.$pristine }">
            <label>How would you rate your written communication skills from 1-100? </label>
			<input type="text" name="writt" class="form-control" ng-model="user.writt" >
            <p ng-show="userForm.writt.$invalid && !userForm.writt.$pristine" class="help-block"></p>
        </div>
        <!-- Description -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.user_description.$invalid && !userForm.user_description.$pristine }">
            <label>Tell us a bit more about what you like/do/have done in software (Min: 25 characters. Internships, Personal Projects, OpenSource...).</label>
            <textarea rows="6" name="user_description" class="form-control" ng-model="user.description" ng-minlength="50"> </textarea>
            <p ng-show="userForm.user_description.$invalid && !userForm.user_description.$pristine" class="help-block">Below 25 characters</p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>

