<div class="jumbotron">
	<h1>The roles</h1> 

</div>

<div class="jumbotron">
	
      <!-- Example row of columns -->
      <div class="row"> 
        <div class="span-one-third">
          <h2>Overview</h2>
            <p>Please, feel free to fill out a form so we can connect with you. Which of these positions interests you most? <p> 
            <font size="4">
			</ul-->
			</font>	  
        </div>

<ul>   
        <div class="span-one-third">
          <h2><a href="/contact"> Software Developer Test</a></h2>
          <p>The Software Developers own the implementation of the app or feature.</p> 
        </div>

        
        <div class="span-one-third">
          <h2><a href="/contact"> Software Developer Test</a></h2>
          <p>The Software Developer Tests own the backend success of the app or feature. </p>
        </div>
         
        <div class="span-one-third">
          <h2><a href="/contact"> Program Manager</a></h2>
          <p>The Program Manager designs systems on a high level, and creates functional requirements for the app or feature. </p>

        </div>       
        <div class="span-one-third">
          <h2><a href="/contact">Marketing Asssociate</a></h2>
          <h2> Marketing Associate</h2>
          <p>The Marketing Associate helps tell the user story, and creates a pipeline between end user and developer production</p>
        </div>

        <div class="span-one-third">
        <h2><a href="/contact">Business Asssociate</a></h2>
        <h2> Business Associate</h2>
          <p>The Business Associate is the engine that drives the financial model of the group.</p>
        </div>

        <div class="span-one-third">
        <h2><a href="/contact">Anthropology Asssociate</a></h2>
          <p> The Anthropology Associate is the research associated with raw end user experience.</p>
        </div>
      </div>
    </ul>
</div>


<!--Reserve the option to just make it a button group instead 

<div class="btn-group btn-group-justified">
  <div class="btn-group">
    <button type="button" class="btn btn-default">Left</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Middle</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Right</button>
  </div>
</div>

</div>
-->
