.NavBar{
	position: fixed;
	float: top;

	height: 100px;
	width:100%;
	background-image: url("../views/images/AppTruthBanner.jpg");
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}
.waa{
width: 300px;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
	position: fixed;
	content:url(http://localhost:3000/views/images/campus_map.jpg);
	 padding-top: 40px;

 padding-left: 5px;
	height: 100%;
	width:50%;
}
.MapAnimation{
	position: absolute;
	float: left;
	height: 100%;
	content:url(http://localhost:3000/views/images/campus_map.jpg);
	width:100%;
	 padding-top: 110px;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}

p.about {
	position: absolute;
	right : 100px;
	bottom : 20px;
	font-size:160%;

}
p.contact {
	position: absolute;
	right : 190px;
	bottom : 20px;
	font-size:160%;
}

button.leftmost{
	position: fixed;
	right : 610px;
	top : 340px;
	width: 90px;
	height :30px;
    border: 2px solid;
    border-radius: 15px;
}
button.middle{
	position: fixed;
	right : 390px;
	top : 340px;
	width: 90px;
	height :30px;
    border: 2px solid;
    border-radius: 15px;
}
button.rightmost{
	position: fixed;
	right : 180px;
	top : 340px;
	width: 90px;
	height :30px;
    border: 2px solid;
    border-radius: 15px;
}
/* This is the content box that switches and passes content */
#text_content{
	position: absolute;
	float:right;
	width:50%;
	height:100%;
	right : 10px;
	top : 380px;
	/* right : 170px;
	top : 380px;*/
}
h1.explanation{
	position: fixed;
	font-size:320%;
	height :30px;
}
p.explanation_p{
	position: fixed;
	font-size:90%;
}
/* End switching content box */
h1.info{
	position: fixed;
	font-size:320%;
	height :30px;

}
a {
	position: fixed;
	float: right;
}
/* unvisited link */
a:link {
    color: #FF0000;

}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}



<style type="text/css">
#top {
background-color: #FF0;
width: 1800px;
height: 50px;
position: fixed;
left: 0px;
top: 0px;
}

#sideLeft {
float: left;
width: 950px;
background-color: #9C0;
clear: left;
}

#sidebarLeft {
background-color: #0CC;
height: 800px;
width: 300px;
float: left;
}

.list {
float: left;
width: 600px;
margin-top: 100px;
}
#ordoner {
background-color: #F90;
float: left;
width: 640px;
height: 800px;
position: fixed;
top: 50px;
left: 950px;
}

#sidebarRight {
width: 210px;
height: 800px;
position: fixed;
top: 50px;
left: 1590px;
background-color: #0CF;
}
*
{
    margin: 0;
    padding: 0;
}

html, body, .Container
{
    height: 100%;
}

    .Container:before
    {
        content: '';
        height: 100%;
        float: right;
    }

.Header
{
    margin-bottom: 10px;
    background-color: #6ea364;
}
.Content
{
    position: absolute;
    z-index: 1;
}
.Content:after
{
    content: '';
    clear: both;
    display: block;
}
.Wrapper
{
    position: relative;
    width: 100%;
    height: 100%;
}
    .Wrapper > div
    {
        height: 100%;
    }

.LeftContent
{
    background-color: orange;
    float: left;
    margin-left: 10px;
}
.RightContent
{
	width:50%;
	float: right;
    background-color: blue
}

